.popup_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    backdrop-filter: blur(2px); /* Semi-transparent background overlay */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}


.header_img_flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_img_flex>img{
    width: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}